.flow {
  height: 100vh;
  margin: 0 !important;
  color: #000000; }
  .flow .collapse-button {
    position: absolute;
    left: 22.5px;
    bottom: 85px;
    z-index: 10; }
  .flow ::v-deep .flow-menu {
    max-width: 4.75rem;
    z-index: 3; }
    .flow ::v-deep .flow-menu .menu-list {
      height: 100vh;
      background-color: #f5f5f5; }
      .flow ::v-deep .flow-menu .menu-list li {
        height: 5rem;
        width: 4.75rem;
        border-radius: 0; }
        .flow ::v-deep .flow-menu .menu-list li.home a {
          background-color: #f5f5f5 !important; }
        .flow ::v-deep .flow-menu .menu-list li.bottom {
          position: absolute;
          bottom: 0;
          height: 5rem; }
          .flow ::v-deep .flow-menu .menu-list li.bottom a {
            height: 3.625rem; }
            .flow ::v-deep .flow-menu .menu-list li.bottom a .icon {
              margin: 0; }
        .flow ::v-deep .flow-menu .menu-list li a {
          height: 5rem;
          padding: 0.625rem;
          border-radius: 0;
          background-color: #f5f5f5;
          text-align: center;
          transition: background-color 0.2s; }
          .flow ::v-deep .flow-menu .menu-list li a .image {
            margin: 12px auto;
            width: 36px;
            height: 36px; }
          .flow ::v-deep .flow-menu .menu-list li a span:not(.icon) {
            font-size: 0.625rem;
            color: #333333 !important;
            display: flex;
            flex-direction: column;
            align-items: center !important;
            justify-content: center !important; }
          .flow ::v-deep .flow-menu .menu-list li a span.icon {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            color: #1ab67e;
            background-color: #ffffff;
            margin: 0;
            transition: background-color 0.2s; }
            .flow ::v-deep .flow-menu .menu-list li a span.icon svg,
            .flow ::v-deep .flow-menu .menu-list li a span.icon i {
              width: 1.1em !important;
              font-size: 20px; }
          .flow ::v-deep .flow-menu .menu-list li a:hover {
            background-color: #fafcfc; }
          .flow ::v-deep .flow-menu .menu-list li a.is-active {
            background-color: #ffffff; }
            .flow ::v-deep .flow-menu .menu-list li a.is-active span.icon {
              background-color: #1ab67e;
              color: #ffffff; }
          .flow ::v-deep .flow-menu .menu-list li a.is-disabled {
            opacity: 1; }
            .flow ::v-deep .flow-menu .menu-list li a.is-disabled span:not(.icon) {
              color: #d4d9d7 !important; }
            .flow ::v-deep .flow-menu .menu-list li a.is-disabled span.icon {
              background-color: #d4d9d7 !important;
              color: #ffffff !important; }
  .flow ::v-deep main {
    background-color: #ffffff; }
    .flow ::v-deep main .flow-datasets #mapbox-container {
      height: initial; }
    .flow ::v-deep main .flow-datasets .main-view,
    .flow ::v-deep main .flow-scenarios .main-view {
      padding: 1rem 2rem; }

.details label {
  color: #afb2b1; }

::v-deep .group-picker .header .label {
  max-width: 200px; }

::v-deep .label {
  color: #000000 !important; }

.field.scenario-model-type-list .flow-list li, .field.scenario-dataset-list .flow-list li {
  color: #afb2b1;
  cursor: unset !important; }
  .field.scenario-model-type-list .flow-list li:hover, .field.scenario-dataset-list .flow-list li:hover {
    background-color: unset !important; }

header .title-section h1 {
  margin-right: auto;
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.tab-item .control {
  height: inherit !important; }
  .tab-item .control ::v-deep .textarea {
    max-height: unset !important;
    min-height: unset !important;
    height: inherit !important;
    width: 100% !important;
    resize: none;
    font-family: monospace;
    color: #000;
    font-size: 0.875em;
    padding: 1.5rem;
    white-space: pre;
    word-wrap: normal;
    background-color: #f5f5f5 !important;
    border-radius: unset;
    border: none !important;
    overflow: hidden; }
    .tab-item .control ::v-deep .textarea:hover {
      overflow: auto; }

.icon {
  font-size: 0.5rem;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  line-height: 0.5rem; }

.dropdown .dropdown-trigger .ellipsis {
  cursor: pointer; }

.dropdown .dropdown-menu a.dropdown-item {
  color: #000000;
  font-size: 0.8em; }
  .dropdown .dropdown-menu a.dropdown-item:hover {
    color: #1ab67e;
    background-color: #e8f8f2; }
    .dropdown .dropdown-menu a.dropdown-item:hover .icon {
      color: #1ab67e; }
  .dropdown .dropdown-menu a.dropdown-item.danger:hover {
    color: #e54b4b;
    background-color: #f5b7b7; }
    .dropdown .dropdown-menu a.dropdown-item.danger:hover .icon {
      color: #e54b4b; }
  .dropdown .dropdown-menu a.dropdown-item.info:hover {
    color: #5571f2;
    background-color: #d8defc; }
    .dropdown .dropdown-menu a.dropdown-item.info:hover .icon {
      color: #5571f2; }

#mapbox-container {
  width: 100%;
  height: 100vh; }
  #mapbox-container > #map,
  #mapbox-container > #deckgl-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
  #mapbox-container .map-control-zero {
    position: absolute;
    top: 0;
    left: 0; }
  #mapbox-container ::v-deep .map-control-left {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: transform 0.5s; }
    #mapbox-container ::v-deep .map-control-left > * {
      margin-bottom: 8px;
      margin-right: auto; }
      #mapbox-container ::v-deep .map-control-left > *:last-child {
        margin-bottom: 0; }
  #mapbox-container ::v-deep .map-control-right {
    position: absolute;
    top: 10px;
    right: 10px; }
    #mapbox-container ::v-deep .map-control-right > * {
      margin-bottom: 8px;
      margin-left: auto; }
      #mapbox-container ::v-deep .map-control-right > *:last-child {
        margin-bottom: 0; }
  #mapbox-container ::v-deep .map-control-bottom {
    position: absolute;
    bottom: 24px;
    height: 100px;
    z-index: 1;
    left: 0;
    right: 0;
    width: calc(100vw - 18.75rem - 4.75rem);
    display: flex;
    justify-content: center;
    transition: transform 0.5s, width 0.5s; }
  #mapbox-container .deck-tooltip {
    width: 30px;
    height: 20px; }
  #mapbox-container ::v-deep .mapboxgl-ctrl-bottom-left {
    right: 10px;
    left: unset; }
  #mapbox-container ::v-deep .mapboxgl-popup {
    z-index: 99; }
    #mapbox-container ::v-deep .mapboxgl-popup .mapboxgl-popup-content {
      padding: 18px 24px 12px 12px; }
    #mapbox-container ::v-deep .mapboxgl-popup .mapboxgl-popup-close-button {
      font-family: 'Font Awesome 5 Pro';
      font-size: 0px;
      content: '';
      width: 24px;
      height: 24px; }
      #mapbox-container ::v-deep .mapboxgl-popup .mapboxgl-popup-close-button::before {
        font-size: 12px;
        content: '\f00d'; }

.timeslider {
  flex-grow: 1;
  margin: 0 80px; }
