name: Test on Pull Requests

on:
  pull_request:
  push:
    branches:
    - main
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: Install Dependencies
      run: |
        npm install

    - name: Check formatting
      run: |
        npm run lint:format

  testing:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Install
      run: |
        make install

    - name: Run unit tests
      run: |
        npm --prefix project/ run test:unit
