.is-size-6-half {
  font-size: 0.85rem !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

// .x-overflow is used alongside with FixedPosition.ts as the overflow parent
//
.overflow,
.x-overflow {
  overflow: auto;
  padding-right: 0.5rem;
  margin-right: -0.5rem;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-hover {
  overflow: hidden;
  &:hover {
    overflow: auto;
    padding-right: 0.5rem !important;
    margin-right: -0.5rem !important;
  }
}

button {
  &.is-borderless {
    border: 0;
  }
  &.is-border-transparent {
    border-color: transparent !important;

  }
  &.is-transparent {
    background-color: transparent;
    color: $black;
  }
  &.is-round {
    border-radius: 100%;
  }
  &.movici {
    background: $white;
    color: $primary;
    border: 2px solid $white-ter !important;
    &:hover {
      color: $primary;
      background: $primary-light;
      border-color: $grey-light;
    }
    &:active {
      color: $primary;
      border-color: $primary !important;
    }
  }
}

[required] {
  label,
  .label {
    &::after {
      margin-left: 2px;
      content: '*';
      color: $grey;
      font-weight: bold;
    }
  }
}

textarea.is-monospace {
  max-height: unset !important;
  min-height: unset !important;
  height: 75vh;
  width: 100% !important;
  resize: none;
  font-family: monospace;
  color: $black;
  font-size: 0.875em;
  padding: 1.5rem;
  white-space: pre;
  word-wrap: normal;
  background-color: $white !important;
  border-radius: unset;
  overflow: hidden;
  &:hover {
    overflow: auto;
  }
}


.has-hover-bg {
  &.has-text-primary {
    &:hover {
      @include hover-white-bgcolor;
    }
  }
  &:hover {
    @include hover-grey-bgcolor;
  }
}